@import "course.css";

.course-bar {
    margin-top: 2.5rem;
    padding: 2rem;
    justify-content: space-between;
}

.circle {
    width: 10px;
    height: 10px;
    border-radius: 20px;
    background-color:  orange;
}

.info-column {
    padding:2rem;
}

.description {
    width: 100%;
    border-radius: 4px;
    resize: none;
}

textarea .description-input {
    width: 100%;
    height: 100%;
    border-radius: 4px;
    background-color: white;
    resize: none;
    transition: none;
}

.edit-button {
    width: fit-content;
    height: 1.5rem;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: 450;
    text-align: center;
    border: solid;
    border-color: gray;
    color: gray;
    border-width: 0.1rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

.edit-button:hover {
    background-color: lightgray;
    color: black;
}

input[type="file"] {
    display: none;
}

input .edit-button {
    width: fit-content;
    height: 1.5rem;
    border-radius: 5px;
    font-size: 0.9rem;
    font-weight: 450;
    text-align: center;
    border: solid;
    border-color: gray;
    color: gray;
    border-width: 0.1rem;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
}

input .edit-button:hover {
    background-color: lightgray;
    color: black;
}

file-frame-div {
    width: fit-content;
    height: fit-content;
    padding: 20px;
}
file-frame {
    width: 500px;
    height: 100px;
    display: flex;
}



