@import "style.css";

#course {
    justify-content: flex-start;
    padding-top: 1rem;
}

.assignment-card {
    display: flex;
    flex-direction: column;
}

.assignment-card > :first-child {
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
    border-bottom: 1px solid rgb(203, 203, 203);
}

.course-banner {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 200px;
    background: linear-gradient(180deg, #6CBED0 0%, #E6BF73 100%);
}

.course-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: white;
    align-items: center;
    padding: 1rem;
}

.course-tab {
    background-color: rgb(244, 244, 244);
    padding:1rem;
    box-shadow: 0 5px 5px rgba(0,0,0,0.05);
}

.course-bar .image {
    width: 4rem;
    height: 4rem;
    padding: 0px;
}

.course-bar > :first-child {
    display: flex;
    flex-direction: column;
}

.course-bar > :last-child {
    display: flex;
    align-items: center;
    gap: 1rem;
}

.course-bar > :last-child > * {
    display: flex;
    flex-direction: column;
}

.course-bar > :last-child > :first-child {
    align-items: flex-end;
}

.card-div{
    padding:0.5rem;
    width: 100%;
    justify-content: center;
}

.card {
    max-width: none !important; 
    padding: 1rem;
    justify-content: space-between;
}

#upcoming {
    display: none;
}

#completed {
    display: none;
}

.discussion-input {
    width: 100%;
    border-radius: 0.5rem;
    padding: 1rem;
    margin: 1rem;
    resize: none;
}

.root{
    justify-content: center;
    text-align: center;
}

.column {
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
    padding: 0.5rem;
}
.discussion {
    width: fit-content;
}

.post-button {
    width: fit-content;
    height: 4rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    font-weight: 450;
    padding: 1.2rem;
    text-align: center;
    border-width: 0.1rem;
    border-color: lightgray;
    padding-left: 0.3rem;
    padding-right: 0.3rem;
    color: rgb(33, 33, 41);
    background-color: none;
    text-align: center;
}
.post-button:hover {
    border: none;
    background-color: rgb(226, 225, 243);
    color: rgb(101, 95, 95);
    text-align: center;
}

.discussion-box{
    width:100%;
    flex-direction: row;
    padding: 2rem;
}

.reply {
    padding-top:0;
    margin-top:0;
}

.light-highlight {
    background-color: rgb(197, 208, 247);
}

.reply-container {
    height: fit-content;
}

.whole-discussion-box {
    padding: 0.5rem;
}


.discussion-date-box{
    color:navy;
    width:max-content;
    padding: 0.5rem;
    flex-direction: row;
    text-align: left;
}

.discussion-text-box {
    width:100%;
    flex-direction: row;
    padding: 0.5rem;
    text-align: left;
}

.discussion-user-box {
    width:fit-content;
    font-weight: bold;
}

.row {
    flex-direction: row;
}

.column {
    flex-direction: column;
}

.new-assignment-button {
    bottom: -2rem;
    left: 3rem;
    box-shadow: 0 5px 5px rgba(0,0,0,0.05);
    position: absolute;
    width: 2rem;
    height: 2rem;
    padding: 0.2rem;
    border-radius: 1rem;
    text-align: center;
    justify-content: center;
    background-color: white;
}

.new-assignment-button:hover {
    background-color: pink;
}

@media screen and (max-width: 750px){
    .discussion-box {
        flex-direction: column;
        align-items: start;
    }
    .column {
        flex-direction: column;
        align-items: start;
    }
    .row {
        flex-direction: row;
        align-items: start;
    }
}
