@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    color: rgb(34, 34, 34);
    transition: all .17s ease-in-out;
}

body {
    background-color:#F5F5F5;
    /* display: flex; */
}

a {
    text-decoration: none;
}

textarea {
    border: solid;
    border-color: lightgray;
    resize: none;
    border-radius: 0.5rem;
    width: 100%;
    height: fit-content;
    padding: 0.5rem;
}

.large {
    font-size: 1.2rem;
    font-weight: 600;
}

.large-bold {
    font-size: 1.2rem;
    font-weight: 600;
}

.medium-bold {
    font-size: 1rem;
    font-weight: 600;
}

.medium {
    font-size: 1rem;
    font-weight: 500;
}

.small-bold {
    font-size: 0.8rem;
    font-weight: 600;
}

.small {
    font-size: 0.8rem;
    font-weight: 400;
}

.small-bold {
    font-size: 0.8rem;
    font-weight: 600;
}

header {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 2.5rem;
    box-shadow: 0 5px 5px rgba(0,0,0,0.05);
    background-color: white;
    z-index: 1000;
}

.logo {
    height: 20px;
}

li {
    list-style: none;
}

.nav-items , .nav-items-uniteractable {
    display: flex;
    align-items: center;
}

.sidebar {
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    padding: 1rem;
    gap: 0.5rem;
    padding-top: 3.5rem;
    background-color: white;
    width: 25%;
    height: 100%;
    z-index: 500;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}

.sidebar-space {
    display: flex;
    width: 25%;
    max-width: 20rem;
    padding: 1rem;
    height: 100vh;
    box-sizing: border-box;
}

.sidebar-space > * {
    width: 100%;
}

.sidebar .nav-items {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 0.5rem;
}

.nav-items-small {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    padding: 0px 0.7rem;
    border-radius: 10px;
}

.sidebar .nav-items > * {
    width: 100%;
}

.nav-items-small {
    display: flex;
    align-items: center;
    font-size: 0.8rem;
    padding: 0px 0.7rem;
    border-radius: 10px;
}

.nav-items > * {
    display: inline-block;
    padding: 0px 0.7rem;
    border-radius: 10px;
}

.nav-items-uniteractable > * {
    display: inline-block;
    padding: 0px 0.5rem;
}

.nav-items :hover {
    background-color: #e6e6e6;
    cursor: pointer;
}

.nav-items-small:hover {
    background-color: #e6e6e6;
    cursor: pointer;
}

.sidebar .nav-items-small {
    margin-bottom: 1rem;
}

.sidebar .nav-items {
    margin-bottom: 1rem;
}

.sidebar .nav-items:hover {
    background-color: #e6e6e6;
    cursor: pointer;
    border-radius: 0.8rem;
}

#left > * {
    padding: 0px 0.5rem;
}

.root {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    align-items: center;
    justify-content: center;
    padding: 0 3rem;
    padding-top: 3.5rem;
    position: relative;
    width: 100%;
    /* min-height: 100svh; */
}

.block {
    display: inline-block;
    width: 75%;
    margin-left: 25%;
}

.info-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    width: 100%;
    background: white;
    border-radius: 20px;
    padding: 1rem;
    box-shadow: 0 5px 10px rgba(0,0,0,0.1);
    position: relative;
}

#profile-card::before { /* gradient block*/
    content: "";
    position: absolute;
    top: 20%;
    left: 0;
    width: 100%;
    height: 40%;
    border-radius: 20px 20px 0 0;
    /* border-top:5px solid #FF9900; */
    background: linear-gradient(180deg, rgba(222, 224, 234, 0.60) 0%, rgba(217, 217, 217, 0.00) 100%);
}

.card > * {
    z-index: 1;
}

.image {
    position: relative;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: #FF9900;
    padding: 4px;
}

.image .profile-img {
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 3px solid white;
}

.card .card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card .card-content > div {
    padding-top: 0.5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#profile-card .card-content > :last-child {
    margin-bottom: 2rem;
}

.grade {
    font-size: 3rem;
    font-weight: 600;
    color:#FF9900;
}

.card .gpa-bar {
    z-index: 0;
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 3rem;
    border-radius: 0 0 20px 20px;
    background-color: #FF9900;
}

.card .gpa-text {
    width: 80%;
    display: flex;
    justify-content: space-between;
    align-self:center;
}

.section {
    /* position: relative; */
    width: 100%;
    max-width: 400px;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.highlight {
    background-color: #ff990065;
    padding: 0.2rem 0.8rem;
    border-radius: 20px;
    display: flex;
    align-items: center;
}

.section > :first-child {
    display: flex;
    justify-content: start;
}

.section .card-content {
    display: flex;
    width: 100%;
}

.section .card-content .assignment-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
    border-bottom: 1px solid rgb(203, 203, 203);
    transition: background-color 0.2s ease-out 100ms;
}

.section .card-content > :first-child {
    padding-top: 0;
}

.section .card-content > :last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.assignment-bar > * {
    display: flex;
    flex-direction: column;
}

.assignment-bar .medium, .classes-bar .medium, .classes-bar-small .medium {
    font-size: 0.8rem;
}

.assignment-bar .small, .classes-bar .small, .classes-bar-small .small {
    font-size: 0.6rem;
}

.assignment-bar:hover {
    background-color: #F5F5F5;
}

.section .upcoming-classes-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.upcoming-classes-title > * {
    display: flex;
    flex-direction: column;
}

.section .card-content .classes-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-bottom: 0.5rem;
    margin-bottom: 0.5rem;
}

.section .card-content .classes-bar-small {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    padding-top: 0.25rem;
}

.classes-bar-small .medium {
    font-weight: 400;
    font-size: 0.75rem;
}

#upcoming-classes .card-content > :first-child {
    border-bottom: 1px solid rgb(203, 203, 203);
}

.grade-table-container {
    width: 500px;
    overflow: auto;
    max-width: none;
    max-height: 500px;
    display: flex;
}

.grade-table {
    text-wrap: nowrap;
    margin-left: auto;
}

.grade-course-title {
    color: navy;
}

select {
    background-color: whitesmoke;
    border: none;
}

.scheme-table {
    margin-left: auto;
}

.grade-table-student,
.grade-table-score,
.grade-table-grade {
    padding: 1.5rem;
    white-space: nowrap;
}

.grade-table-head {
    position: sticky;
    z-index:2;
    top: 0;
    margin-top:0;
    background-color: white;
}

.no-top {
    padding-top: 0;
}

.grade-table-body {
    text-align: center;
    background-color: rgb(223, 223, 247);
    z-index: 1;
    position: relative;
}

.grade-table-body-cell {
    border-radius: 0.3rem;
    border-color: rgb(223, 223, 247);
    border-collapse: collapse;
    border: none;
}

.grade-cell-score:hover {
    font-weight: bold;
}

@media screen and (max-width:750px) {
    .grade-table-container {
        max-width: 400px;
    }
}

@media screen and (min-width: 750px){
    .root {
        flex-direction: row;
        align-items: start;
    }

    #profile-card {
        min-height: 88dvh;
        flex-grow: 1;
        justify-content: space-between;
        padding-top: 3%;
        max-width: 35%;
    }

    .image {
        width: 150px;
        height: 150px;
    }

    .info-column {
        align-items: start;
    }
}

@media screen and (min-width: 750px){
    .small, .small-bold {
        font-size: 1rem;
    }
    .medium, .medium-bold {
        font-size: 1.2rem;
    }
    .large, .large-bold {
        font-size: 1.4rem;
    }
    .logo {
        height: 1.5rem;
    }
    .header {
        height: 5rem;
    }
}
