<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/assignment.css">
    <link rel="stylesheet" href="">
    <title>Assignment Page</title>
</head>

<body>
    <header>
        <div class="nav-items-uniteractable">
            <img src="../static/resources/se.png" class="logo">
            <span class="small-bold">SEducation</span>
        </div>
        <nav>
            <ul class="nav-items">
                <li class="small"><a href="/home/">Home</a></li>
                <li class="small"><a href="/course/">Courses</a></li>
                <li class="small"><a href="">Calendar</a></li>
            </ul>
        </nav>
    </header>
    <div class="sidebar">
        <ul class="nav-items">
            <li class="small"><a href="">Probability and Statistics</a></li>
            <li class="small"><a href="">asd</a></li>
            <li class="small"><a href="">asd</a></li>
        </ul>
    </div>

    <div id="block">
        <div class="course-bar">
            <div>
                <span class="large">HW11 Hypothesis Testing</span>
                <span class="small">Assignment</span>
            </div>
            <div class="highlight">
                <span class="circle"></span>
                <span class="small">Tomorrow, 11:59</span>
            </div>
        </div>

        <div class="root">
            <!-- for teachers -->
            <!-- description -->
            <div style="padding:1rem; width: 100%;">
                <div class="card">
                    <div class="info-column" style="padding-bottom: 3%">
                        <span class="medium-bold">Assignment Description</span>
                    </div>
                    <hr>
                    <div class="info-column" style="padding-top: 3%;">
                        <span class="description small" id="description"></span>
                        <textarea class="description-input" id="descriptionTextArea"
                            style="width:0; height:0;visibility: hidden;"></textarea>
                        <span class="edit-button" id="editButton">Edit</span>
                    </div>
                </div>
            </div>


            <!-- files -->
            <div style="padding:1rem; width: 100%;">
                <div class="card">
                    <div class="info-column" style="padding-bottom: 3%;">
                        <span class="medium-bold"> Additional Resources</span>
                    </div>
                    <hr>
                    <div class="info-column" style="padding-top: 3%;">
                        <span class="additional-resources" id="additionalResources"></span>
                        <span class="edit-button" id="fileInputButton">Insert File<input type="file" id="fileInput"
                                accept=".pdf, .doc, .docx, .txt, .zip"></span></span>
                    </div>

                    <div class="info-column file-frame-div" id="resourceFrames">
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
<script src="../static/js/assignment.js"></script>

</html>