<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <script src="../static/js/home.js"></script>
    <script src="../static/js/sidebar.js"></script>
    <title>Home Page</title>
</head>

<body>
    <div></div>
    <div id="user-data" data ="{{user.id}}" role="{{user.role}}"></div>
    <header>
        <div class="nav-items-uniteractable">
            <img src="../static/resources/se.png" class="logo">
            <span class="small-bold">SEducation</span>
        </div>
        <nav>
            <ul class="nav-items" id="right">
                <li class="small"><a href="/home/">Home</a></li>
                <li class="small"><a href="/course/">Courses</a></li>
                <li class="small"><a href="">Calendar</a></li>
            </ul>
        </nav>
    </header>
    <div class="sidebar" id="sidebar">
        <li class="small"><a href="">Probability and Statistics</a></li>
        <li class="small"><a href="">asd</a></li>
        <li class="small"><a href="">asd</a></li>
    </div>
    <div class="block">
        <div class="root" id="home_root">
            <div class="card" id="profile-card" style="display:none;">
                <div class="image">
                    <img src="../static/resources/anuc.jpg" alt="" class="profile-img">
                </div>
                <div class="card-content">
                    <div>
                        <span class="large">{{user.name}}</span>
                        <span class="medium">6501{{user.id}}</span>
                    </div>
                    <div>
                        <span class="small">Bachelor</span>
                        <span class="small">Year 2, Semester 1</span>
                    </div>
                    <div>
                        <span class="grade">B</span>
                        <span class="small">80.5%</span>
                    </div>
                </div>
                <div class="gpa-bar"></div>
                <div class="gpa-text">
                    <span class="small-bold">Cumulative GPA</span>
                    <span class="small">3.22</span>
                </div>
            </div>

            <div class="info-column">
                <div class="section">
                    <span class="large">Upcoming Assignments</span>
                    <div class="card">
                        <div class="card-content" id="assignments">
                            <div class="assignment-bar">
                                <div>
                                    <span class="medium">HW 11 Hypothesis Testing</span>
                                    <span class="small">Probability and Statistics 1</span>
                                </div>
                                <div>
                                    <div class="highlight">
                                        <span class="small">Today, 11:59 PM</span>
                                    </div>
                                </div>
                            </div>
                            <div class="assignment-bar">
                                <div>
                                    <span class="medium">Lab.11a Graph (shortest path)</span>
                                    <span class="small">01286222-DSA-661</span>
                                </div>
                                <div>
                                    <div class="highlight">
                                        <span class="small">Friday, 7:00 PM</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="section" id="upcoming-classes">
                    <div class="upcoming-classes-title">
                        <div>
                            <span class="large" id="date"></span>
                            <span class="medium">Upcoming Classes</span>
                        </div>
                        <div>
                            <span class="medium" id="time"></span>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-content" id="timetable">
                            <div class="classes-bar">
                                <span class="medium">Professional Communication</span>
                                <div>
                                    <div class="highlight">
                                        <span class="small">9:00 AM - 12:00 PM</span>
                                    </div>
                                </div>
                            </div>
                            <div class="classes-bar-small">
                                <span class="medium">Web Programming (Lecture)</span>
                                <span class="small">1:00 PM - 4.15 PM</span>

                            </div>
                            <div class="classes-bar-small">
                                <span class="medium">Web Programming (Lab)</span>
                                <span class="small">4.30 PM - 6:00 PM</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="info-column" id="grading" style="display:none;"> 
                <div class="section">
                    <span class="large">Grading: </span>
                    <span class="grade-course-title medium-bold">Computer Programming</span>
                    <div class="card">
                        <div class="card-content grade-table-container no-top">
                            <table class="grade-table">
                                <thead class="small-bold grade-table-head" id="gradingTableHead">
                                    <tr>
                                        <td class="grade-table-student">Student ID</td>
                                        <td class="grade-table-score">Assignment</td>
                                        <td class="grade-table-score">Lab</td>
                                        <td class="grade-table-score">Project</td>
                                        <td class="grade-table-score">Midterm</td>
                                        <td class="grade-table-score">Final</td>
                                        <td class="grade-table-grade">Total</td>
                                        <td class="grade-table-grade">Grade</td>
                                    </tr>
                                </thead>
                                <tbody class="grade-table-body">
                                    <tr class="small">
                                        <td class="grade-table-body-cell">
                                            <span>65011367</span>
                                        </td>
                                        <td class="grade-table-body-cell grade-cell-score">
                                            <span>3</span>
                                            <span> / </span>
                                            <span class="small-bold">10</span>
                                        </td>
                                        <td class="grade-table-body-cell grade-cell-score">
                                            <span>7</span>
                                            <span> / </span>
                                            <span class="small-bold">15</span>
                                        </td>
                                        <td class="grade-table-body-cell grade-cell-score">
                                            <span>6</span>
                                            <span> / </span>
                                            <span class="small-bold">15</span>
                                        </td>
                                        <td class="grade-table-body-cell grade-cell-score">
                                            <span>6</span>
                                            <span> / </span>
                                            <span class="small-bold">30</span>
                                        </td>
                                        <td class="grade-table-body-cell grade-cell-score">
                                            <span>15</span>
                                            <span> / </span>
                                            <span class="small-bold">30</span>
                                        </td>
                                        <td class="grade-table-body-cell grade-cell-score">
                                            <span>37</span>
                                            <span> / </span>
                                            <span class="small-bold">100</span>
                                        </td>
                                        <td class="grade-table-body-cell grade-cell-score">
                                            <span>F</span>
                                        </td>
                                    </tr>
                                    <tr class="small">
                                        <td class="grade-table-body-cell">
                                            <span>65011365</span>
                                        </td>
                                        <td class="grade-table-body-cell grade-cell-score">
                                            <span>10</span>
                                            <span> / </span>
                                            <span class="small-bold">10</span>
                                        </td>
                                        <td class="grade-table-body-cell grade-cell-score">
                                            <span>15</span>
                                            <span> / </span>
                                            <span class="small-bold">15</span>
                                        </td>
                                        <td class="grade-table-body-cell grade-cell-score">
                                            <span>15</span>
                                            <span> / </span>
                                            <span class="small-bold">15</span>
                                        </td>
                                        <td class="grade-table-body-cell grade-cell-score">
                                            <span>30</span>
                                            <span> / </span>
                                            <span class="small-bold">30</span>
                                        </td>
                                        <td class="grade-table-body-cell grade-cell-score">
                                            <span>30</span>
                                            <span> / </span>
                                            <span class="small-bold">30</span>
                                        </td>
                                        <td class="grade-table-body-cell grade-cell-score">
                                            <span>37</span>
                                            <span> / </span>
                                            <span class="small-bold">100</span>
                                        </td>
                                        <td class="grade-table-body-cell grade-cell-score">
                                            <span>A</span>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                <div class="section">
                    <span class="large">Total Scores</span>
                    <div class="card">
                        <div class="card-content grade-table-container">
                            <table class="scheme-table">
                                <thead class="small-bold grade-table-head" id="schemeTableHead">
                                    <tr>
                                        <td class="grade-table-student">Assignment</td>
                                        <td class="grade-table-student">Lab</td>
                                        <td class="grade-table-student">Project</td>
                                        <td class="grade-table-student">Midterm</td>
                                        <td class="grade-table-student">Final</td>
                                        <td class="grade-table-student">Total</td>
                                    </tr>
                                </thead>
                                <tbody class="grade-table-body">
                                    <tr class="small-bold">
                                        <td class="grade-table-body-cell">%</td>
                                        <td class="grade-table-body-cell">%</td>
                                        <td class="grade-table-body-cell">%</td>
                                        <td class="grade-table-body-cell">%</td>
                                        <td class="grade-table-body-cell">%</td>
                                        <td class="grade-table-body-cell">100%</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>

</html>
