<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Login Page</title>
        <link rel = "stylesheet" type = "text/css" href = "../static/css/loginpage.css">
    </head>

    <body>
        <form action="/" method="POST">
            <header>
                <div class="nav-items-uniteractable">
                    <img src="../static/resources/se.png" class="logo">
                    <span class="small-bold">EduSphere</span>
                </div>
            </header>
            
            <div class="login-container">
                <h2>Login</h2>
                <div class="form-group">
                    <label for="student_id">Username</label>
                    <input type="text" name="student_id"id="student_id"required>
                </div>
                <div class="form-group">
                    <label for="student_password">Password</label>
                    <input type="password" name="student_password" id="student_password"required>
                </div>
                <div class="form-group">
                    <button type="submit" class="btn_login2" value = "Login">Login</button>
                </div>
            </div>
        </form>
    </body>
</html>
